# unit test workflow configuration on github actions.
# Author : Sameer Atre <SAtre@abacusbio.co.nz>

name: unit-tests

on:
  push:
    branches:
      - testing
    paths:
      - '.github/workflows/tests.yml'
      - 'R/*'
      - 'tests/testthat/*'

jobs:
  tests:
    runs-on: windows-latest
    steps:
      - uses: r-lib/actions/setup-r@v2
        with:
          install-r: true
          r-version: '4.0.2' 
      - run: echo ${{installed-r-version}}
